venv/
env/

*~
*pyc
*.egg
*.eggs
*.egg-info
*.log
*.pyc
*.sass-cache
*build/
*dat
.env
venv
*.egg-info/
logs/
tmp/
.venv/
*.iml
out/
.vscode/
models/
*.tar.gz
/models/
node_modules/
npm-debug.log
examples/moodbot/py3/
.python-version
tokens.dat
debug.md
failed_stories.md
errors.json
pip-wheel-metadata/*
events.db
events.db-shm
events.db-wal
rasa.db
rasa.db-shm
rasa.db-wal
*.swp
*.coverage*
.dir-locals.el
.history
rasa/segment_key
rasa/keys